


/* ==========================================================================
   F O N T S----------
   ========================================================================== */

 @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800');

body{
	font-family: 'Open Sans', sans-serif;
}


.contact-form form input, textarea {
    border: 1px solid #ddd;
    height: 45px;
    margin-bottom: 15px;
    padding: 10px 15px;
    width: 100%;
}
.contact-form textarea {
    height: 200px;
    margin-bottom: 30px;
}
.contact-form button {
    border: 0 none;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: 10px 25px;
    text-transform: uppercase;
}
.contact-form h2 {
    margin-bottom: 50px;
}
