


/* ==========================================================================
   F O N T S----------
   ========================================================================== */

 @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800');

body{
	font-family: 'Open Sans', sans-serif;
}

.ajax-contact-form input,textarea {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    padding: 0 15px;
    text-transform: capitalize;
}

.ajax-contact-form textarea {
    height: 150px;
}
button {
    padding: 10px 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 700;
    border: none;
}

.timeline{
    width: 80%;
    margin:50px auto;
}
ul{
    margin: 0;
    padding: 0;
    list-style:none;
}